<head>
    <style>
        html,
        body,
        input,
        select,
        textarea {
            font-size: 1.05em;
        }

        .ro {
            background-color: aquamarine;
        }

        .gridcontainer {

            margin: 100px 50px;

        }

        img {

            height: 200px;
            width: 200px;
            float: left;
        }

    </style>
</head>

<h1> this is second.</h1>

<h3>{{ name }}</h3>


<body>

    <h3>Picture</h3>



    <hr>

    <div class="container">
        <div>
            <div class="gridcontainer container fluid">
                <div class="row">

                    <div ng-repeat="item in items track by $index">

                        
                            <p>{{item.id}}</p>
                            <p ng-if="item.show">
                                {{item.name}}
                            </p>
                            <button ng-click="item.show = ! item.show">toggle</button>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</body>

</html>
